{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Chatbot {% endblock %}</h1>
{% endblock %}
{% block content %}
    <form method="post">
    
        <div>
            <br><br>
            <label for="answ">Realiza una pregunta:</label>
            <br>
            <textarea name="desc" id="desc" rows="7" cols="50" name="comment" required></textarea>
            <br><br>
            <input type="submit" value="Pregunta" />
            <br><br>
            <label>{{ val }}</label>
        </div>
    </form>
{% endblock %}