{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Registro de Materiales{% endblock %}</h1>
{% endblock %}
{% block content %}
    <form method="post">
        
        <label for="nombre">Nombre:</label>
        <input name="nombre" id="nombre" pattern="[a-zA-Z\s]{2,64}" required />
        <br><br>
        <label for="cantidad">Cantidad:</label>
        <input type="number" name="cantidad" id="cantidad" required />
        <br><hr><br>
        <input type="submit" value="Registrar material" />
    </form>
{% endblock %}