{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Registro de Pacientes{% endblock %}</h1>
{% endblock %}
{% block content %}

    <form method="post">
        <label for="correo">Correo Electrónico:</label>
        <input name="correo" id="correo" pattern="([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+" required />
        <br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
        <br><br>
        <label for="nombre">Nombre:</label>
        <input name="nombre" id="nombre" pattern="[a-zA-Z\s]{2,64}" required />
        <br><br>
        <label for="ap">Apellido Paterno:</label>
        <input name="ap" id="ap" pattern="[a-zA-Z\s]{2,64}" required />
        <br><br>
        <label for="am">Apellido Materno:</label>
        <input name="am" id="am" required />
        <br><br>
        <label for="telefono">Teléfono:</label>
        <input type="tel" name="telefono" id="telefono" placeholder="XXXXXXXXXX" pattern="[0-9]{10}" required />
        <br><br>
        <label for="sexo">Sexo:</label>
        <input name="sexo" id="sexo" pattern="[a-zA-Z\s]{2,64}" required />
        <br><br>

        <label for="id_dentista">Dentista:</label>
        <select name="id_dentista" id="id_dentista">
            {% for dentisa in dentistas %}
            <option value="{{ dentisa['id_usuario'] }}">{{ dentisa['tx_correo'] }}</option>
            {% if not loop.last %}
            {% endif %}
            {% endfor %}
          </select>
        <br><hr><br>
        <input type="submit" value="Registrarse" />
    </form>
{% endblock %}