{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Editar Material {% endblock %}</h1>    
{% endblock %}

{% block content %}

<form method="post">
        
    <label for="nombre">Nombre:</label>
    <input name="nombre" id="nombre" value="{{ request.form['tx_nombre'] or todo['tx_nombre'] }}" required />
    <br><br>
    <label for="cantidad">Cantidad:</label>
    <input name="cantidad" id="cantidad" value="{{ request.form['nu_cantidad'] or todo['nu_cantidad'] }}" required />
    <br><hr><br>
    <input type="submit" value="Guardar" />
</form>

<br><hr><br>
<form action="{{ url_for('todo_mat.delete_material', id_material=todo['id_material']) }}" method="post">
    <input class="danger" type="submit" value="Eliminar" onclick="return confirm('Estas seguro que quieres eliminarlo?')" />
</form>

{% endblock %}