{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Consulta {% endblock %}</h1>
{% endblock %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
  integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

<form method="post">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
        role="tab" aria-controls="home-tab-pane" aria-selected="true">Consulta</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button"
        role="tab" aria-controls="profile-tab-pane" aria-selected="false">Materiales</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

      <br><br>

      <label for="tratamiento">Tratamientos: </label>
      <select name="tratamiento" id="tratamiento">
        {% for tratamiento in tratamientos %}
        <option value="{{ tratamiento['id_tratamiento'] }}">{{ tratamiento['tx_nombre'] }}</option>
        {% if not loop.last %}
        {% endif %}
        {% endfor %}
      </select>
      <br><br>
      <label for="desc">Descripcion: </label>
      <br>
      <textarea name="desc" id="desc" rows="7" cols="50" name="comment" required></textarea>
      <br>
      <hr><br>
      <input type="submit" name="crear" value="Crear" />
    </div>
</form>

<form method="post">

<div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

  <br><br>
  <label for="cantidad">Material: </label>
  <select name="material" id="material">
    {% for material in materiales %}
    <option value="{{ material['id_material'] }}">{{ material['tx_nombre'] }}</option>
    {% if not loop.last %}
    {% endif %}
    {% endfor %}
  </select>
  <br><br>
  <label for="cantidad">Cantidad: </label>
  <input type="number" name="cantidad" id="cantidad" placeholder="Ingresa la Cantidad" min="1" max="15">
  <br>
  <hr><br>
  <input type="submit" name="crear" value="Agregar" />
</div>

</div>
</form>

<form method="post">
<input type="submit" name="crear" value="Terminar" />
</form>



{% endblock %}