{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Lista de Pacientes {% endblock %}</h1>    
{% endblock %}

{% block content %}
<ul>
{% for usuario in usuarios %}
      <li class="usuario"> 
        <div>
            <a><b>Correo Electronico:</b></a>
            <a>{{ usuario['tx_correo'] }}</a>
            <br>
            <a><b>Nombre:</b></a>
            <a>{{ usuario['tx_nombre'] }}</a> 
            <br>
            <a><b>Apellido Paterno:</b></a>
            <a>{{ usuario['tx_paterno'] }}</a> 
            <br>
            <a><b>Apellido Materno:</b></a>
            <a>{{ usuario['tx_materno'] }}</a> 
            <br>
            <a><b>Telefono:</b></a>
            <a>{{ usuario['tx_telefono'] }}</a> 
            <br>
            <a><b>Sexo:</b></a>
            <a>{{ usuario['tx_sexo'] }}</a> 
            <br>
            <a class="action" href="{{ url_for('todo2_usu.create_cita', id_usuario = usuario['id_usuario']) }}">Agendar Cita</a>
            <a class="action" href="{{ url_for('todo2_cons.view_consultas', id_usuario = usuario['id_usuario']) }}">Ver expediente</a>
        </div>
      </li>

{% if not loop.last %}
<hr>
{% endif %} 
{% endfor %}
</ul>

{% endblock %}